*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(10, 4, 27);
    color: aliceblue;
    text-align: center;
    max-width: 1280px;
    margin: 0 auto;
    padding-top:0.9rem ;
    
}
h1{
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 22px;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.1;
}
.main-contener{
   
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.output-show{
    border:1px solid gray;
    height: 100%;
    margin: 10px;
    border-radius: 5px;
    overflow: auto;
    font-size: 1.1rem;
    padding: 20px;
   /* pre tag */
    text-align: left;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
form{
    display: flex;
    
    width: 100%;
    padding: 20px;
}
input{
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    font-size: 1.1rem;
}
button{
    padding: 10px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(12, 12, 107);
    color: azure;
    &:hover{
        background-color: rgb(33, 33, 89);
    }
}
.form-input{
    border:1px solid gray;
    margin: 0px 10px;
    border-radius: 5px;
  
}

span{
    color: rgb(201, 17, 17);
}

